In [9]:
import sqlite3
conn = sqlite3.connect('music.db')
c = conn.cursor()

c.execute('''DROP TABLE IF EXISTS Artists''')

# Creation of the Table
c.execute('''CREATE TABLE Artists
             (id INTEGER PRIMARY KEY,
              name TEXT,
              youtube_views INTEGER,
              album_sales INTEGER)''')

# DATA
data = [(1, 'YoungBoy Never Broke Again', 2580000000, 0),
        (2, 'Bad Bunny', 2120000000, 0),
        (3, 'Lil Baby', 1660000000, 0),
        (4, 'Drake', 1510000000, 0),
        (5, 'Lil Durk', 1320000000, 0),
        (6, 'Future', 1310000000, 0),
        (7, 'Kevin Gates', 1260000000, 0),
        (8, 'Eminem', 1240000000, 0),
        (9, 'Kodak Black', 1190000000, 0),
        (10, 'Rod Wave', 1170000000, 0),
        (11, 'Adele', 0, 8300000),
        (12, 'Taylor Swift', 0, 7450000),
        (13, 'Taylor Swift', 0, 7000000),
        (14, 'Harry Styles', 0, 5460000),
        (15, 'Olivia Rodrigo', 0, 4100000),
        (16, 'BTS', 0, 3952496),
        (17, 'Beyoncé', 0, 3600000),
        (18, 'Fleetwood Mac', 0, 2790000),
        (19, 'Kendrick Lamar', 0, 1300000),
        (20, 'Billie Eilish', 0, 1273000)]

c.executemany('INSERT INTO Artists VALUES (?,?,?,?)', data)

conn.commit()

In [4]:
#Artists ordered from highest to lowest in terms of the number of streams.
c.execute('SELECT * FROM Artists ORDER BY youtube_views DESC')
for row in c:
    print(row[1], row[2])

YoungBoy Never Broke Again 2580000000
Bad Bunny 2120000000
Lil Baby 1660000000
Drake 1510000000
Lil Durk 1320000000
Future 1310000000
Kevin Gates 1260000000
Eminem 1240000000
Kodak Black 1190000000
Rod Wave 1170000000
Adele 0
Taylor Swift 0
Taylor Swift 0
Harry Styles 0
Olivia Rodrigo 0
BTS 0
Beyoncé 0
Fleetwood Mac 0
Kendrick Lamar 0
Billie Eilish 0

In [5]:
#Artists ordered from highest to lowest in terms of number of albums sold.
c.execute('SELECT * FROM Artists ORDER BY album_sales DESC')
for row in c:
    print(row[1], row[3])

Adele 8300000
Taylor Swift 7450000
Taylor Swift 7000000
Harry Styles 5460000
Olivia Rodrigo 4100000
BTS 3952496
Beyoncé 3600000
Fleetwood Mac 2790000
Kendrick Lamar 1300000
Billie Eilish 1273000
YoungBoy Never Broke Again 0
Bad Bunny 0
Lil Baby 0
Drake 0
Lil Durk 0
Future 0
Kevin Gates 0
Eminem 0
Kodak Black 0
Rod Wave 0

In [6]:
#Join query" to see if there are artists that appear in both lists.

c.execute('''SELECT a1.name
             FROM Artists a1 JOIN Artists a2
             ON a1.name = a2.name
             WHERE a1.youtube_views > 0 AND a2.album_sales > 0''')

result = c.fetchall()

if len(result) > 0:
    print('The following artists appear on both lists:')
    for row in result:
        print(row[0])
else:
    print('No artists appear on both lists.')

No artists appear on both lists.

In [7]:
#Program to delete the entries of the artists entries of the artists they did not find in the joint query.

c.execute('''SELECT a1.name
             FROM Artists a1 JOIN Artists a2
             ON a1.name = a2.name
             WHERE a1.youtube_views > 0 AND a2.album_sales > 0''')


result = c.fetchall()
artists = [row[0] for row in result]

c.execute('DELETE FROM Artists WHERE name NOT IN ({})'.format(','.join('?'*len(artists))), artists)

conn.commit()